
.topnav{
    height: 33%;
    display: flex;
    justify-content: center;

}

.about-container{
    display:list-item;
   justify-content: left;
   
}

.about-image{
    max-width: 250px;
}

.about-image-container{
    display: flex;
        margin: 20px 0;
    padding: 30px;
    justify-content: space-evenly;
}

.about-image-paragraph{
    width: 50%;
}

.about-image-bottom{
    max-width: 75%;
        margin: 0 auto;
    display: block;
}

.about-image-paragraph-bottom{
    max-width: 75%;
        margin: 0 auto;
    display: block;
}